@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* -- MAIN: --*/
body{
  width: 100%;
  font: 15px/1.6 'Roboto Mono';
  padding: 0;
  margin: 0;

  background-color: #2f353d;
  color: #ffffff;
}

header{
  background-image: url('../img/header.jpg');
  background-size: cover;
  background-color: #000000;
  padding: 10px;
  border-bottom: solid 30px #3d83b3;
}

footer{
  text-align: center;
  border-top: solid 50px #3d83b3;
}

/* -- NAVIGATION: --*/
.navbar{
  text-align: center;
  margin: 2%;
  clear: both;
  overflow: hidden;
}

.navbar a{
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  text-decoration: none;

  float: left;
  width: 19%;
  margin: 0.5%;
}

.navbar a:hover{
  color: #3d83b3;
  font-weight: 600;
}

.nav-drop{
  float: left;
  width: 19%;
  margin: 0.5%;
}

.nav-drop a{
  color: #ffffff;
  text-align: center;
  text-decoration: none;

  float: left;
  width: 100%;
  padding: 1%;
}

.nav-list{
  display: none;
  position: absolute;
}

.nav-list a{
  font-size: 15px;
  font-weight: 200;
  text-align: center;
  float: none;
  display: block;
  text-decoration: none;
  color: #ffffff;
  margin: 0;
}

.nav-drop:hover .nav-list{
  display: contents;
  text-align: center;
}

/* -- CLASSES: -- */
.title-block{
  font-size: 45px;
  text-align: center;
  margin: 2%;
}

.content{
  margin: 2% 10% 2% 10%;
  padding: 20px 0 20px 0;
}

.content h1{
  font-size: 40px;
  text-align: center;
}
