@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* -- MAIN: --*/
body{
  width: 100%;
  font: 16px/1.6 'Roboto Mono';
  padding: 0;
  margin: 0;

  background-color: #2f353d;
  color: #ffffff;
}

header{
  background-image: url('../img/header.jpg');
  background-size: cover;
  background-color: #000000;
  padding: 10px;
  border-bottom: solid 30px #3d83b3;
}

header h1{
    text-shadow: 5px 5px #2f353d;
    text-transform: uppercase;
}

a{
  text-decoration: none;
  color: #3d83b3;
}

a:hover{
  color: #7bae7f;
  font-weight: 900;
}

footer{
  text-align: center;
  border-top: solid 50px #3d83b3;
}

/* -- NAVIGATION: --*/
.navbar{
  text-align: center;
  margin: 2%;
  clear: both;
  overflow: hidden;
}

.navbar a{
  font-size: 23px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  text-decoration: none;

  float: left;
  width: 19%;
  margin: 0.5%;
}

.navbar a:hover{
  color: #3d83b3;
  font-weight: 600;
}

.nav-drop{
  float: left;
  width: 19%;
  margin: 0.5%;
}

.nav-drop a{
  color: #ffffff;
  text-align: center;
  text-decoration: none;

  float: left;
  width: 100%;
  padding: 1%;
}

.nav-list{
  display: none;
  position: absolute;
}

.nav-list a{
  font-size: 16px;
  font-weight: 200;
  text-align: center;
  float: none;
  display: block;
  text-decoration: none;
  color: #ffffff;
  margin: 0;
}

.nav-drop:hover .nav-list{
  display: contents;
  text-align: center;
}

/* -- CLASSES: -- */
.title-block{
  font-size: 60px;
  text-align: center;
  margin: 2%;
}

.content{
  margin: 2% 10% 5% 10%;
}

.content h2{
  margin: 5% 0 0 0;
  text-shadow: 2px 2px #000000;
}

.heading{
  margin: 8% 0 2% 0;
  padding: 5px 0 5px 0;
  background-color: #596473;
  width: 100%;
  border-top: solid 10px #7bae7f;
  border-bottom: solid 10px #7bae7f;
}

.heading-top{
    margin: 2% 0 2% 0;
    padding: 5px 0 5px 0;
    background-color: #596473;
    width: 100%;
    border-top: solid 10px #7bae7f;
    border-bottom: solid 10px #7bae7f;
}

.heading h1, .heading-top h1{
  font-size: 45px;
  text-align: center;
  text-shadow: 2px 2px #2f353d;
}

.grid{
  overflow: hidden;
}

.box{
  text-align: center;
  float: left;
  width: 31.4455%;
  margin: 0.5%;

  border: solid 5px #167779;
}

.box h2{
  font-size: 30px;
}
